<h1>Bem-vindo(a)!</h1>
<p>Olá, <%= @email %></p>

<% if user_signed_in? %>
  <% if current_user.restaurant? %>
    <%= render 'restaurant' %>
  <% elsif current_user.customer? %>
    <%= render 'customer' %>
  <% end %>
<% end %>